<div class="row">
	<div class="span16">
		<%= form_for  @role, :url => role_path, :method => :put  do |f| %>
		<fieldset>
			<legend> Role </legend>
			<br>
			<%= @role.name %>
			<br>
			Permissions
			<br>
			<table border="1" style="width:300px; border-collapse:collapse;">
				<tr>
					<th> Class </th>
					<th> Action </th>
					<th> Description </th>
					<th> <%= check_box_tag 'main', 0, false %> </th>
				</tr>
				<% @permissions.each do |permission| %>
				<tr>
					<td><%= permission.subject_class %> </td>
					<td><%= permission.action %> </td>
					<td><%= permission.description %> </td>
					<td> <center><%= check_box_tag 'permissions[]', permission.id, @role_permissions.include?(permission.id), {array: true, class: "check_box"} %> </center></td> 
				</tr>
				<% end %>
			</table>
			<div>
				<div>
					<br>
					<%= f.submit "Update" %>
					<%= link_to 'Cancel', roles_path %>
				</div>
			</div>
		<% end %>
		</fieldset>
	</div>
</div>
